@use "variables" as vars;

.issue-404 {
  h1 {
    text-align: left;
  }

  p {
    margin: 16px 0;
  }
}

dl {
  margin-top: 0;

  > div {
    margin-bottom: 15px;
  }

  // this was done to mimic a table I removed, design preferences
  // aren't set in stone here
  dt {
    font-weight: 500;
    opacity: 0.54;
    margin: 2px 0;
  }

  dd {
    margin: 0;
  }
}

.event-detail-card {
  margin-right: 16px;

  .tab-nav-container {
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  @media screen and (max-width: vars.$medium - 1) {
    margin-right: 0;
  }

  > .tabbed-nav {
    margin: -16px -16px 16px;
  }
}

mat-grid-list {
  height: 90vh;
}

.tags {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  @media screen and (max-width: vars.$medium - 1) {
    flex-direction: column-reverse;
  }

  .left {
    flex: 75%;
    overflow: hidden;

    @media screen and (max-width: vars.$medium - 1) {
      width: 100%;
    }
  }

  .right {
    flex: 25%;

    @media screen and (max-width: vars.$medium - 1) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

table.mat-table {
  background: none;
}

.report-badge > span {
  text-overflow: initial;
}

.issue-header-wrapper {
  display: flex;

  gap: 8px;
  margin-bottom: 8px;
}

.top-bar-actions {
  display: flex;
  gap: 8px;
}

.status-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 

  mat-icon {
    color: var(--mat-sys-outline);
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin: 8px;
  }


  &::after {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 0;
    width: 4px;
    border-radius: 4px; 
  }

  &.level--sample::after   { background-color: var(--mat-sys-outline); }
  &.level--debug::after    { background-color: var(--mat-sys-outline-variant); }
  &.level--info::after     { background-color: var(--info-color); }
  &.level--warning::after  { background-color: var(--warning-color); }
  &.level--error::after    { background-color: var(--mat-sys-error); }


  &.level--fatal::after {
    background: repeating-linear-gradient(
      -60deg,
      var(--mat-sys-error),
      var(--mat-sys-error) 5px,
      var(--mat-sys-surface) 5px,
      var(--mat-sys-surface) 10px
    );
  }
}
