@use "variables" as vars;

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: vars.$medium - 1) {
    grid-template-columns: 1fr;
  }
}

.full-span {
  grid-column: 1 / -1;
}

gt-social-auth:not(:has(mat-card)) {
  display: none;
}

.remove-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: (vars.$large - 1)) {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  p {
    padding-right: 16px;
  }
}
