@use "@angular/material" as mat;
@use "variables" as vars;

@include mat.card-overrides(
  (
    elevated-container-shape: vars.$shape-radius,
    elevated-container-color: var(--mat-sys-surface-container-high),
    outlined-container-shape: vars.$shape-radius,
    title-text-size: 18px,
    title-text-weight: 500
  )
);
