@use "variables" as vars;

table {
  width: 100%;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

.mat-column-name {
  max-width: 400px;

  @media screen and (max-width: vars.$large - 1) {
    max-width: 300px;
  }
  @media screen and (max-width: vars.$medium - 1) {
    max-width: 200px;
  }
}

.name-and-url-container {
  width: 100%;

  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: fit-content;
  }

  .monitor-link {
    text-decoration: underline;
  }

  div {
    width: inherit;

    .caption-text {
      color: inherit;
    }
  }
}

.mat-column-checkChart {
  width: 40%;
  min-width: 300px;
}

.chart-container {
  .monitor-chart {
    margin-left: 10px;
  }
}

.mat-column-status {
  width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;
  @media screen and (max-width: vars.$small - 1) {
    padding-left: 40px;
  }
}

.add-monitor-button {
  @media screen and (max-width: vars.$small - 1) {
    mat-icon {
      display: none;
    }
  }
}

.add-monitor-text-short {
  @media screen and (min-width: vars.$small) {
    display: none;
  }
}

.add-monitor-text-long {
  @media screen and (max-width: vars.$small - 1) {
    display: none;
  }
}

.status-color {
  &--true {
    border-left: 3px solid var(--success-color);
  }

  &--false {
    border-left: 3px solid var(--mat-sys-error);
  }

  &-- {
    border-left: 3px solid var(--mat-sys-surface-variant);
  }
}
