@use "@angular/material" as mat;
@use "variables" as vars;

// THIS IS BEING SHARED WITH A MARKETING COMPONENT
// Make sure edits work fine in both spots

.plans {
  @media (max-width: vars.$large - 1) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax((285px), 1fr));
    grid-gap: 24px;
    box-shadow: none !important;
  }

  @media (min-width: vars.$large) {
    display: flex;
    border-radius: vars.$shape-radius;

    mat-card + mat-card {
      border-left: none;
    }
  }

  mat-card {
    text-align: left;

    @media (min-width: vars.$large) {
      flex: 1;
      border-radius: 0px;
      box-shadow: none !important;

      &:first-child {
        border-radius: vars.$shape-radius 0 0 vars.$shape-radius;
      }

      &:last-child {
        border-radius: 0 vars.$shape-radius vars.$shape-radius 0;
      }
    }
  }
}

.value-props {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-size: 0.85em;
    clear: both;
  }

  mat-icon {
    width: 1em;
    height: 1em;
    margin: 0.07em 0.3em 0.5em 0;
    font-size: 1em;
    float: left;
  }

  mat-icon {
    color: var(--mat-sys-primary);
  }
}

.event-info {
  margin-top: 24px;
  margin-bottom: 24px;
}
