<gt-top-app-bar>
  <ng-container slot="left">
    <h1 class="section-header-text" i18n>Projects</h1>
  </ng-container>
  <ng-container slot="right">
    <a
      mat-flat-button
      [routerLink]="['new']"
      color="primary"
      i18n
      [disabled]="!accessProjectWrite()"
      >Create New Project</a
    >
  </ng-container>
</gt-top-app-bar>
<section class="l-body">
  <div>
    @if (projects()?.length === 0) {
      <gt-empty-projects [activeOrgOnly]="true"></gt-empty-projects>
    }
  </div>
  <div class="project-card-wrapper">
    @for (project of projects(); track project) {
      <gt-project-card
        [cardLink]="project.slug!"
        [title]="project.name"
        [descriptionList]="[
          { key: 'organization', value: activeOrganization()?.name || '' },
          { key: 'date created', value: (project.dateCreated | date)! },
        ]"
        [isMember]="project.isMember"
        [secondaryButton]="{
          link: project.slug!,
          icon: 'settings',
          text: 'Settings',
        }"
      ></gt-project-card>
    }
  </div>
</section>
