@use '@angular/material' as mat;
@use "variables" as vars;

:host {
  width: 225px;

  @media screen and (max-width: vars.$medium - 1) {
    flex: 2;
  }
}

.project-multiselect-formfield {
  width: 100%;
}
