@use "@angular/material" as mat;
@use "variables";

// This make the app cover the whole screen at all times
mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: variables.$side-nav-width;
}

mat-nav-list {
  padding: 10px;

  // TODO: Find a more reliable way to change icon color
  .mdc-list-item--disabled {
    mat-icon {
      opacity: .25;
    }
  }
}

.logo-toolbar {
  height: fit-content;
  padding-top: 16px;
  background-color: transparent;

  .main-logo {
    width: 115px;
    cursor: pointer;
  }
}

.org-create-button-container,
.org-dropdown-container {
  width: 100%;
  padding: 25px 15px 0px 15px;
}

.org-create-button {
  height: 48px;
}
.support-cta-divider {
  border-color: var(--mat-sys-outline-variant);
}

.support-cta-container {
  margin: 15px 0 0 26px;
}

.support-cta-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 8px;

  a {
    text-decoration: underline;
  }
}

.version {
  text-align: center;

  a {
    color: mat.m2-get-color-from-palette(mat.$m2-gray-palette, 700);
    font-weight: 300;
    font-size: small;
    text-decoration: none;
  }
}
