<gt-top-app-bar>
  <ng-container slot="left">
    <gt-back-link backLinkText="View monitor details" />
  </ng-container>

  <ng-container slot="right">
    <button
      mat-icon-button
      class="medium-icon-button"
      id="delete-monitor"
      (click)="delete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
</gt-top-app-bar>
<section class="l-body">
  @if (monitor(); as monitor) {
    <gt-monitor-form
      [monitorSettings]="monitor"
      [loading]="loading() === true"
      [formError]="error()"
      (formSubmitted)="submit($event)"
    ></gt-monitor-form>
  }
</section>
