<gt-top-app-bar>
  <ng-container slot="left">
    <h1 class="section-header-text">Organization Members</h1>
  </ng-container>
  <ng-container slot="right">
    <a
      mat-flat-button
      color="primary"
      [routerLink]="['new']"
      [disabled]="!accessMemberWrite()"
      >Invite Member</a
    >
  </ng-container>
</gt-top-app-bar>
<section class="l-body">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ activeOrganizationDetail()?.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="list">
        @for (member of members(); track member) {
          <div class="list--item">
            <div class="email-and-badge">
              <a class="email" mat-line [routerLink]="[member.id]"
                >{{ member.email }}
              </a>
              @if (member.isOwner) {
                <mat-chip
                  class="caption-text"
                  color="primary"
                  highlighted="true"
                >
                  Account Owner
                </mat-chip>
              }
              @if (member.pending) {
                <mat-chip class="caption-text" color="primary">
                  Invite Pending
                </mat-chip>
              }
            </div>
            <div class="reinvite-and-role">
              @if (member.pending) {
                <div class="reinvite">
                  @if (!member.loadingResendInvite) {
                    <gt-loading-button
                      class="resend-invite"
                      [loading]="member.loadingResendInvite"
                      [buttonText]="
                        member.sentResendInvite
                          ? 'Invite Resent'
                          : 'Resend Invite'
                      "
                      [disabled]="member.sentResendInvite"
                      (buttonClick)="resendInvite(member)"
                    >
                    </gt-loading-button>
                  }
                </div>
              }
              <div class="role">{{ member.roleName }}</div>
            </div>
            <gt-loading-button
              class="remove-button"
              matTooltip="Account ownership must be transferred."
              [matTooltipDisabled]="!member.isOwner"
              [disabled]="member.isOwner"
              (buttonClick)="removeMember(member)"
              [buttonText]="member.isMe ? 'Leave' : 'Remove'"
              buttonStyle="stroked"
            ></gt-loading-button>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</section>
