@use "variables" as vars;

.data-filter-bar-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 15px;

  @media (max-width: vars.$small - 1) {
    gap: 10px;
  }
}

.sort-form,
.environment-form {
  @media (max-width: vars.$medium - 1) {
    mat-form-field {
      width: 170px;
    }
  }

  @media (max-width: vars.$small - 1) {
    mat-form-field {
      width: 160px;
    }
  }
}
.search-form {
  @media (min-width: vars.$small) {
    mat-form-field {
      width: 350px;
    }
  }
  @media (min-width: vars.$large) {
    mat-form-field {
      width: 450px;
    }
  }
  @media (max-width: vars.$small - 1) {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
}

.leftBlock {
  @media (min-width: vars.$medium) {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
