@if (sortForm) {
  <div class="data-filter-bar-container">
    <!-- Changes position based on screen size -->
    <ng-template #searchFormTemplate>
      @if (searchForm) {
        <form
          [formGroup]="searchForm"
          (ngSubmit)="searchSubmit.emit()"
          class="search-form"
          data-cy="list-search-form"
        >
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Search</mat-label>
            <input
              matInput
              type="search"
              formControlName="query"
              data-cy="list-search-field"
            />
          </mat-form-field>
        </form>
      }
    </ng-template>
    <div class="leftBlock">
      @if (environmentForm) {
        <form [formGroup]="environmentForm" class="environment-form">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Environment</mat-label>
            <mat-select
              (selectionChange)="filterByEnvironment.emit($event)"
              formControlName="environment"
            >
              <mat-option [value]="null">All Environments</mat-option>
              @for (
                environment of organizationEnvironments();
                track environment
              ) {
                <mat-option [value]="environment">
                  {{ environment }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
      }
      @if (isLargeScreen()) {
        <ng-container *ngTemplateOutlet="searchFormTemplate"></ng-container>
      }
    </div>
    <form [formGroup]="sortForm" class="sort-form">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Sort by</mat-label>
        <mat-select
          (selectionChange)="sortByChanged.emit($event)"
          formControlName="sort"
        >
          @for (sort of sorts(); track sort.param) {
            <mat-option [value]="sort.param">
              {{ sort.display }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    @if (!isLargeScreen()) {
      <ng-container *ngTemplateOutlet="searchFormTemplate"></ng-container>
    }
  </div>
}
