@use '@angular/material' as mat;

.pagination-buttons-container {
  display: flex;
  gap: 15px;
  padding: 0 5px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 4px;
}

.spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
